<ion-view class="startup-bg reveal-animation lg-m-align">
    <div class="into-content mtl">
        <div class="logo-full mal"></div>
    </div>
    <ion-content scroll="false">
        <div class="login-container">
            <h1 class="heading mbs txt-book">Forgot Password</h1>
            <div class="caption mbl ft-14">Don't worry we've got you covered</div>
            <div class="errors" ng-if="screen.error" >
                {{screen.error}}
            </div>
            <form ng-submit="doResetPassword()" autocomplete="off">
                <div class="lg-m-align">
                    <div ng-if="!screen.success">
                    <div class="wtfb mna">
                        <input class="wtif" type="email" placeholder="Email" autocorrect="off" autocapitalize="off" ng-model="user.email">
                        <hr class="mvn" />
                    </div>
                    <div class="">
                        <button class="mtl mbs startup-btn" ng-disabled="screen.isLoading" type="submit" ng-click="reset(form)">
                            <span ng-show="screen.isLoading"><wave-spinner></wave-spinner></span>
                            <span ng-show="!screen.isLoading">Recover</span>
                        </button>
                    </div>
                    </div>
                    <div class="mtl" ng-if="screen.success">
                        <span class="ft-14" >We have sent you an email on "{{user.email}}" with instructions to reset your password. Make sure it didn’t end up in your junk folder.</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="bottom-btn-box">
            <button class="button icon-left ion-chevron-left button-clear pg-shift-btn" ui-sref="main.login()">Login</button>
        </div>
    </ion-content>
</ion-view>