<ion-view class="startup-bg reveal-animation lg-m-align">
    <div class="into-content mtl">
        <div class="logo-full mal"></div>
    </div>
    <ion-content scroll="false">
        <div class="login-container">
            <h1 class="heading mbs">Forgot Password</h1>
            <div class="caption mbl">Don't worry we've got you covered</div>
            <div class="errors" ng-show="loginStatus.show">
                {{errors}}
            </div>
            <form ng-submit="doResetPassword()" autocomplete="off">
                <div class="lg-m-align">
                    <div class="wtfb mna">
                        <input class="wtif" type="text" placeholder="Email" autocorrect="off" autocapitalize="off" ng-model="email_address" name="email_address">
                        <hr class="mvn" />
                    </div>
                    <div class="">
                        <button class="mtl mbs startup-btn" ng-disabled="isLoading" type="submit" ng-click="reset(form)">
                            <span ng-show="isLoading"><wave-spinner></wave-spinner></span>
                            <span ng-show="!isLoading">Recover</span>
                        </button>
                    </div>
                    <div class="mal">
                        We‘ve send you an email with instructions to reset your password. Make sure it didn’t ended in your junk folder.
                    </div>
                </div>
            </form>
        </div>
        <div class="bottom-btn-box">
            <button class="button icon-left ion-chevron-left button-clear pg-shift-btn" ng-click="signUpScreen()">Join Linkagoal</button>
        </div>
    </ion-content>
</ion-view>