<ion-view view-title="Invite Friends">
    <div class="img-box">
        <img ng-src="img/banner/settings-banner.jpg" alt="settings-banner">
    </div>
    <ion-content class="main-bg">
        <div class="img-box">
            <img ng-src="img/banner/invite-banner.jpg" alt="settings-banner">
        </div>
        <ion-list class="white-bg">
            <ion-item ng-click="shareWhatsapp()" class="lg-more-navigation no-border">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-whatsapp"></i></div>
                    <div class="col col-center pan">
                        <div class="ft-14 plm">WhatsApp</div>
                        <div class="ft-12 plm gry-txt">Invite your WhatsApp contacts</div>
                    </div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item ng-click="shareFacebook()" class="lg-more-navigation no-border">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-facebook"></i></div>
                    <div class="col col-center pan">
                        <div class="ft-14 plm">Facebook</div>
                        <div class="ft-12 plm gry-txt">Share a Post on your wall</div>
                    </div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item ng-click="shareSms()" class="lg-more-navigation no-border">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-device"></i></div>
                    <div class="col col-center pan">
                        <div class="ft-14 plm">SMS</div>
                        <div class="ft-12 plm gry-txt">Invite via Text Message</div>
                    </div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item ng-click="shareEmail()" class="lg-more-navigation no-border">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-email"></i></div>
                    <div class="col col-center pan">
                        <div class="ft-14 plm">Email</div>
                        <div class="ft-12 plm gry-txt">Invite others via Email</div>
                    </div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item ng-click="shareTwitter()" class="lg-more-navigation no-border">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-twitter"></i></div>
                    <div class="col col-center pan">
                        <div class="ft-14 plm">Twitter</div>
                        <div class="ft-12 plm gry-txt">Share via Tweet</div>
                    </div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item ng-click="shareInstagram()" class="lg-more-navigation no-border">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-instagram"></i></div>
                    <div class="col col-center pan">
                        <div class="ft-14 plm">Instagram</div>
                        <div class="ft-12 plm gry-txt">Share a post</div>
                    </div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item ng-click="shareNative()" class="lg-more-navigation no-border">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-share"></i></div>
                    <div class="col col-center pan">
                        <div class="ft-14 plm">Share Via Viber, Skype & other Apps</div>
                    </div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
