<ion-view>
    <div class="bar bar-positive">
    </div>
    <ion-content class="has-header">
        <div class="mtl lg-m-align" style="font-family: sans-serif;line-height: 20px;">
            Your first step with us towards
            <br> leaving nothing undone
        </div>
        <div class="mtl lg-m-align">
            <dt>Lets Do it Together!</dt>
        </div>
        <div class="mtm lg-m-align" style="font-family: sans-serif;">
            <dt>SignUp!</dt>
        </div>
        <div class="mtl lg-m-align" style="font-family: sans-serif;">
            My name is Linkagoal, What's yours?
        </div>
        <div class="mtm">
        	<input type="text" name="" placeholder="Full Name" style="padding: 10px;    width: 100%;">
        </div>
    </ion-content>
</ion-view>
