<ion-view view-title="Change Password">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-buttons side="right">
            <button class="button button-clear button-positive" ng-click="changePassword()">
                Change
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="main-bg">
        <ion-item class="no-border lg-more-navigation item-input">
            <div class="row row-center">
                <div class="col-25 col-center pas"><span class="ft-14 gry-txt txt-reg">Old</span></div>
                <div class="col col-center pan lg-br-btm"><span class="ft-14 txt-reg"><input type="password" ng-model="password.oldpassword" value="Password"></span></div>
            </div>
        </ion-item>
        <ion-item class="no-border lg-more-navigation item-input">
            <div class="row row-center">
                <div class="col-25 col-center pas"><span class="ft-14 gry-txt txt-reg">New</span></div>
                <div class="col col-center pan lg-br-btm"><span class="ft-14 txt-reg"><input type="password" ng-model="password.newpassword" value="Password"></span></div>
            </div>
        </ion-item>
        <ion-item class="no-border lg-more-navigation item-input">
            <div class="row row-center">
                <div class="col-25 col-center pas"><span class="ft-14 gry-txt txt-reg">Retype</span></div>
                <div class="col col-center pan lg-br-btm"><span class="ft-14 txt-reg"><input type="password" ng-model="password.confirmnewpassword" value="Password"></span></div>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
