<ion-view view-title="Notification">
    <ion-content class="main-bg">
        <ion-list class="white-bg">
            <ion-item href="#/tab/more/account/notificaiton/list/1" class="no-border lg-more-navigation">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-app"></i></div>
                    <div class="col col-center pan"><span class="ft-14 plm">On Linkagoal</span></div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item href="#/tab/more/account/notificaiton/list/2" class="no-border lg-more-navigation">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-device"></i></div>
                    <div class="col col-center pan"><span class="ft-14 plm">Mobile</span></div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item href="#/tab/more/account/notificaiton/list/3" class="no-border lg-more-navigation">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-email"></i></div>
                    <div class="col col-center pan"><span class="ft-14 plm">Email</span></div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>