<ion-view view-title="Settings">
    <ion-content class="main-bg">
        <ion-list class="white-bg">
            <ion-item href="#/tab/more/account/settings" class="no-border lg-more-navigation">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-user"></i></div>
                    <div class="col col-center pan"><span class="ft-14 plm">Account</span></div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item href="#/tab/more/account/notificaiton" class="no-border lg-more-navigation">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-notification"></i></div>
                    <div class="col col-center pan"><span class="ft-14 plm">Notification</span></div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
            <ion-item href="javascript:void()" ng-click="logout()" class="no-border lg-more-navigation">
                <div class="row row-center pan">
                    <div class="col-15 col-center lg-m-align pan"><i class="icon main-ico-more gr-txt lg-icon-arrow-right"></i></div>
                    <div class="col col-center pan"><span class="ft-14 plm">Logout</span></div>
                    <div class="col-10 col-center lg-r-align pan"><i class="icon dir-ico-more lg-icon-caret-right"></i></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>