<ion-view view-title="{{titleLogo}}">
    <ion-content class="main-bg static">
        <div class="img-box lg-relative">
            <img src="img/explore/about-bg.jpg" alt="about">
        </div>
        <div class="pam lg-m-align">
            <div class="ft-18 txt-book bl-txt mbs">Let’s Grow Together!</div>
            <div class="ft-13 txt-reg gry-txt mbm">Join the new social network with purpose.</div>
            <div class="ft-13 txt-reg gry-txt">We all love sharing our stories, how we struggled in the past, worked hard, showed perseverance and how we are today. We then continue our story with how we are planning to get our “happily ever after”. Such stories are not just important to how it shapes our future but also important to those who get inspired by them. Sharing Your Life Journey helps Shape the Future of Others!</div>
            <div class="ft-18 txt-reg bl-txt mtl ptm mbs">Linkagoal let's you</div>
            <div class="row">
                <div class="col col-center"><div class="pam lg-abt-ico"><i class="lg-icon-goal goal-cl lg-vm-align"></i><span class="lg-inline-bl lg-vm-align ft-14">Set Goals</span></div></div>
                <div class="col col-center"><div class="pam lg-abt-ico"><i class="lg-icon-link-goal link-cl lg-vm-align"></i><span class="lg-inline-bl lg-vm-align ft-14">Get Linked</span></div></div>
            </div>
            <div class="row">
                <div class="col col-center"><div class="pam lg-abt-ico"><i class="lg-icon-contribute-2 contribute-cl lg-vm-align"></i><span class="lg-inline-bl lg-vm-align ft-14">Be a Guide</span></div></div>
                <div class="col col-center"><div class="pam lg-abt-ico"><i class="lg-icon-post post-cl lg-vm-align"></i><span class="lg-inline-bl lg-vm-align ft-14">Share Post</span></div></div>
            </div>
            <div class="row">
                <div class="col col-center"><div class="pam lg-abt-ico"><i class="lg-icon-motivate-2 motivate-cl lg-vm-align"></i><span class="lg-inline-bl lg-vm-align ft-14">Motivate People</span></div></div>
                <div class="col col-center"><div class="pam lg-abt-ico"><i class="lg-icon-explore explore-cl lg-vm-align"></i><span class="lg-inline-bl lg-vm-align ft-14">Explore Goals</span></div></div>
            </div>
            <div class="row">
                <div class="col col-center"><div class="pam lg-abt-ico"><i class="lg-icon-milestone milestone-cl lg-vm-align"></i><span class="lg-inline-bl lg-vm-align ft-14">Add Milestones</span></div></div>
            </div>   
        </div>
        <div class="pal lg-m-align fm-bg">
            <div>
                <a ui-sref="tab.more-about()" class="pam mhm lg-inline-bl footer-links ft-14">About</a>
                <a ui-sref="tab.more-privacy()" class="pam mhm lg-inline-bl footer-links ft-14">Privacy</a>
                <a ui-sref="tab.more-terms()" class="pam mhm lg-inline-bl footer-links ft-14">Terms</a>
                <a ui-sref="tab.more-careers()" class="pam mhm lg-inline-bl footer-links ft-14">Careers</a>
                <a ui-sref="tab.more-copyright()" class="pam mhm lg-inline-bl footer-links ft-14">Copyrights</a>
            </div>
            <div class="mam footer-links ft-13">Linkagoal © 2016.</div>
        </div>
    </ion-content>
</ion-view>