<ion-view view-title="About App">
    <ion-content class="fm-bg">
        <div class="pam lg-m-align">
            <div class="ft-30 txt-reg bl-txt mtl mbm">Linkagoal</div>
            <div class="ft-16 txt-reg db-txt mbm">Version 2.2.0</div>
        </div>
        <div class="lg-m-align pam">
            <img width="120" src="img/explore/app-icon.png" alt="about-app">
        </div>
        <div class="pal lg-m-align">
            <div class="mam db-txt ft-16">Linkagoal Inc. © 2016<br/> All rights reserved.</div>
        </div>
    </ion-content>
</ion-view>