<ion-view view-title="{{titleLogo}}">
    <ion-content class="main-bg static">
        <div>
            <div class="lg-staticPg-banner banner-bg-4">
                <div class="lg-m-align">
                    <i class="lg-icon-career"></i>
                    <span class="lg-staticPg-banner-heading">Careers</span>
                </div>
            </div>
            <div class="phl pbm">
                <p>
                    Linkagoal offers unlimited growth opportunities to those who believe in out-of-the-box thinking. Set patterns and routine
                    stuff is not Linkagoal’s style. Those who love challenges and dare to fight their fears can make really
                    big at Linkagoal. If you truly want to make a difference in yourself and the world, Linkagoal is ready
                    to embrace you. Linkagoal is always interested in hiring the right resources and this is the reason why
                    Linkagoal’s team is much diversified. If you are socially active, energetic, a path breaker, valiant
                    and focused towards life and the accomplishment of goals, then you are a perfect fit for Linkagoal’s
                    team.
                </p>
                <p>
                    We have the following positions open; to apply, please send your resume to careers@linkagoal.com
                </p>
                <h2 class="lg-staticPg-heading">
                    Graphic Designer
                </h2>
                <div class="lg-jd-content">
                    <div class="ft-16">Skills</div>
                    <div class="lg-jd-points">
                        Dependable and professional
                    </div>
                    <div class="lg-jd-points">
                        Self-motivated, quick learner
                    </div>
                    <div class="lg-jd-points">
                        Able to comprehend the requirements
                    </div>
                    <div class="lg-jd-points">
                        Very creative
                    </div>
                    <div class="lg-jd-points">
                        Planning and projecting ideas and experiences with visual and textual content.
                    </div>
                    <div class="ft-16 mtl">Responsibilities</div>
                    <div class="lg-jd-points">
                        Create visual assets for social media projects (Facebook page designs, Twitter imagery etc)
                    </div>
                    <div class="lg-jd-points">
                        Hands on knowledge of HTML CSS for email marketing campaigns
                    </div>
                    <div class="lg-jd-points">
                        Latest Adobe Creative Suite
                    </div>
                </div>
            </div>
            <div class="pal lg-m-align fm-bg">
                <div>
                    <a ui-sref="tab.more-about()" class="pam mhm lg-inline-bl footer-links ft-14">About</a>
                    <a ui-sref="tab.more-privacy()" class="pam mhm lg-inline-bl footer-links ft-14">Privacy</a>
                    <a ui-sref="tab.more-terms()" class="pam mhm lg-inline-bl footer-links ft-14">Terms</a>
                    <a ui-sref="tab.more-careers()" class="pam mhm lg-inline-bl footer-links ft-14">Careers</a>
                    <a ui-sref="tab.more-copyright()" class="pam mhm lg-inline-bl footer-links ft-14">Copyrights</a>
                </div>
                <div class="mam footer-links ft-13">Linkagoal © 2016.</div>
            </div>
        </div>
    </ion-content>
</ion-view>