<ion-view view-title="{{titleLogo}}">
    <ion-content class="main-bg static">
        <div>
            <div class="lg-staticPg-banner banner-bg-3">
                <div class="lg-m-align">
                    <i class="lg-icon-copyright"></i>
                    <span class="lg-staticPg-banner-heading">Copyrights</span>
                </div>
            </div>
            <div class="phl pbm">
                <p>
                    The copyright and the material on this website (including without limitation the text, computer code, artwork, photographs,
                    images, music, audio material, video (clubbed) material and audio-visual material) is owned by Linkagoal
                    Inc.
                </p>
                <h2 class="lg-staticPg-heading">
                    Data Mining
                </h2>
                <p>
                    The automated and/or systematic collection of data from this website is prohibited.
                </p>
                <h2 class="lg-staticPg-heading">
                    Enforcement of Copyright
                </h2>
                <p>
                    Linkagoal Inc. takes the protection of its copyright very seriously.
                </p>
                <p>
                    If Linkagoal Inc. discovers that you have used its copyrighted materials in contravention of the license above, Linkagoal
                    Inc. may bring legal proceedings against you, seeking monetary damages and an injunction to stop you
                    using those materials. You could also be ordered to pay legal costs.
                </p>
                <p>
                    If you become aware of any use of Linkagoal Inc. copyright materials that contravenes or may contravene the license above,
                    please report this to legal@linkagoal.com.
                </p>
                <h2 class="lg-staticPg-heading">
                    Infringing Material
                </h2>
                <p>
                    If you become aware of any material on the website that you believe infringes your or any other person's copyright, please
                    report this to legal@linkagoal.com
                </p>
                <h2 class="lg-staticPg-heading">
                    Patent Information
                </h2>
                <p>
                    Please click on this link for Linkagoal's Patent detail.
                </p>
            </div>
            <div class="pal lg-m-align fm-bg">
                <div>
                    <a ui-sref="tab.more-about()" class="pam mhm lg-inline-bl footer-links ft-14">About</a>
                    <a ui-sref="tab.more-privacy()" class="pam mhm lg-inline-bl footer-links ft-14">Privacy</a>
                    <a ui-sref="tab.more-terms()" class="pam mhm lg-inline-bl footer-links ft-14">Terms</a>
                    <a ui-sref="tab.more-careers()" class="pam mhm lg-inline-bl footer-links ft-14">Careers</a>
                    <a ui-sref="tab.more-copyright()" class="pam mhm lg-inline-bl footer-links ft-14">Copyrights</a>
                </div>
                <div class="mam footer-links ft-13">Linkagoal © 2016.</div>
            </div>
        </div>
    </ion-content>
</ion-view>