<ion-view view-title="{{titleLogo}}">
    <ion-content class="main-bg static">
        <div>
            <div class="lg-staticPg-banner banner-bg-1">
                <div class="lg-m-align">
                    <i class="lg-icon-privacy"></i>
                    <span class="lg-staticPg-banner-heading">Privacy</span>
                </div>
            </div>
            <div class="phl pbm">
                <div class="lg-emph-txt">
                    Please read the following privacy policy carefully. when you use our website you acknowledge that you have read, understood,
                    and agree to be bound by this privacy policy.
                </div>
                <p>
                    This Privacy Policy will apply to the website that you are visiting, www.linkagoal.com (the "Website"), which is owned by
                    Linkagoal (the "Company").
                </p>
                <p>
                    Company and its subsidiary companies respect the privacy rights of our online visitors and recognize the importance of protecting
                    the information collected from you. We have adopted a corporate wide Privacy Policy that guides how we
                    collect, store and use the information you provide online. Please note that this policy applies only
                    to sites maintained by Company and its subsidiaries, and not to websites maintained by other companies
                    or organizations to which we link.
                </p>
                <p>
                    If you have questions or concerns regarding this statement, you should first contact Company at the email address or postal
                    address specified on the Website.
                </p>
                <h2 class="lg-staticPg-heading">
                    Information Collection and Use
                </h2>
                <p>
                    Our primary goal in collecting personally identifiable information is to provide you with the products and services made
                    available through the Website, including, but not limited to our services, to communicate with you, and
                    to manage your registered user account, if you have one.
                </p>
                <h2 class="lg-staticPg-heading">
                    Information Collected Upon Registration
                </h2>   
                <p>
                    If you desire to have access to certain restricted sections of the Website, you will be required to become a registered user,
                    and to submit certain personally identifiable information to Company. This happens in a number of instances,
                    such as when you sign up for our services, or if you desire to receive marketing materials and information.
                    Personally identifiable information that we may collect in such instances may include your full name,
                    username, password, email address, address, time zone, telephone number, marital status, gender, Personal
                    Interests, Occupation, Work, Education and other information that you decide to provide us with, or that
                    you decide to include in your public profile.
                </p>
                <h2 class="lg-staticPg-heading">
                    Use of Contact Information
                </h2>
                <p>
                    We will NOT use your personal information to provide marketing materials to you. We respect your privacy and will not use
                    your information or provide it to any third party for marketing purposes.
                </p>
            </div>
            <div class="pal lg-m-align fm-bg">
                <div>
                    <a ui-sref="tab.more-about()" class="pam mhm lg-inline-bl footer-links ft-14">About</a>
                    <a ui-sref="tab.more-privacy()" class="pam mhm lg-inline-bl footer-links ft-14">Privacy</a>
                    <a ui-sref="tab.more-terms()" class="pam mhm lg-inline-bl footer-links ft-14">Terms</a>
                    <a ui-sref="tab.more-careers()" class="pam mhm lg-inline-bl footer-links ft-14">Careers</a>
                    <a ui-sref="tab.more-copyright()" class="pam mhm lg-inline-bl footer-links ft-14">Copyrights</a>
                </div>
                <div class="mam footer-links ft-13">Linkagoal © 2016.</div>
            </div>
        </div>
    </ion-content>
</ion-view>