<ion-view view-title="{{titleLogo}}">
    <ion-content class="main-bg static">
        <div>
            <div class="lg-staticPg-banner banner-bg-2">
                <div class="lg-m-align">
                    <i class="lg-icon-terms"></i>
                    <span class="lg-staticPg-banner-heading">Terms & Conditions</span>
                </div>
            </div>
            <div class="phl pbm">
                <div class="lg-emph-txt">
                    Please read the following terms and policies carefully. when you use our website you acknowledge that you have read, understood,
                    and agree to be bound by these terms and policies.
                </div>
                <p>
                    These Terms of Service are hereby effective on November 04, 2011 and will apply to the website that you are visiting, www.linkagoal.com
                    (the "Website"), which is owned by Linkagoal Inc (the "Company").
                </p>
                <h2 class="lg-staticPg-heading">
                    Illegal or Abusive Usage is Strictly Prohibited
                </h2>
                <p>
                    You must not abuse, harass, threaten, impersonate or intimidate other users of our Website. You may not use the Company’s
                    Website for any illegal or unauthorized purpose. International users agree to comply with all local laws
                    regarding online conduct and acceptable content. Should you be found to have engaged in illegal or abusive
                    usage of our Website, Company will suspend your account or usage as applicable.
                </p>
                <h2 class="lg-staticPg-heading">
                    Electronic Communication
                </h2>
                <p>
                    When you visit our Website or send us emails, you are communicating with us electronically. You consent to receive communications
                    from us electronically. We will communicate with you by email or by posting notices on the Website. You
                    agree that all agreements, notices, disclosures and other communications that we provide to you electronically
                    satisfy any legal requirement that such communications be in writing.
                </p>
                <h2 class="lg-staticPg-heading">
                    Disclaimer of Warranties and Limitation of Liability
                </h2>
                <div class="lg-emph-txt mvm">
                    This site and all information, content, materials, products (including software) and services included on or otherwise made
                    available to you through this site are provided by company on an “as is” and “as available” basis, unless
                    otherwise specified in writing. company makes no representations or warranties of any kind, express or
                    implied, as to the operation of this site or the information, content, materials, products (including
                    software) or services included on or otherwise made available to you through this site, unless otherwise
                    specified in writing. you expressly agree that your use of this site is at your sole risk.
                </div>
                <div class="lg-emph-txt mvm">
                    To the full extent permissible by applicable law, company disclaims all warranties, express or implied, including, but not
                    limited to, implied warranties of merchantability and fitness for a particular purpose. company does
                    not warrant that this site; information, content, materials, products (including software) or services
                    included on or otherwise made available to you through this site; their servers; or e-mail sent from
                    company are free of viruses or other harmful components. company will not be liable for any damages of
                    any kind arising from the use of this site.
                </div>
            </div>
            <div class="pal lg-m-align fm-bg">
                <div>
                    <a ui-sref="tab.more-about()" class="pam mhm lg-inline-bl footer-links ft-14">About</a>
                    <a ui-sref="tab.more-privacy()" class="pam mhm lg-inline-bl footer-links ft-14">Privacy</a>
                    <a ui-sref="tab.more-terms()" class="pam mhm lg-inline-bl footer-links ft-14">Terms</a>
                    <a ui-sref="tab.more-careers()" class="pam mhm lg-inline-bl footer-links ft-14">Careers</a>
                    <a ui-sref="tab.more-copyright()" class="pam mhm lg-inline-bl footer-links ft-14">Copyrights</a>
                </div>
                <div class="mam footer-links ft-13">Linkagoal © 2016.</div>
            </div>
        </div>
    </ion-content>
</ion-view>