<div class="modal">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-icon lg-icon-cross-small lg-l-float" ng-click="closeModal()"></button>
        </div>
        <h1 class="title lg-m-align">Interest</h1>
        <div class="buttons">
            <button class="button lg-header-txt-btn lg-r-float" ng-click="closeModal()">Done</button>
        </div>
    </ion-header-bar>
    <ion-content class="onboard">
        <div class="lg-m-align pam ft-14 txt-lite lg-br-top">Your selected areas</div>
        <div class="pll prl">
            <div class="lg-br-btm">
                <div class="item item-button-right no-border">
                    <span class="txt-reg ft-14">Pets & animals</span>
                    <a class="button button-icon icon lg-icon-cross-small rd-txt"></a>
                </div>
            </div>
            <div class="lg-br-btm">
                <div class="item item-button-right no-border">
                    <span class="txt-reg ft-14">Travel</span>
                    <a class="button button-icon icon lg-icon-cross-small rd-txt"></a>
                </div>
            </div>
        </div>
    </ion-content>
</div>