<ion-view hide-nav-bar="true" title="Activities">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="row pan row-center">
            <div class="col-10 pln col-center">
                <button class="button button-icon lg-icon-caret-left lg-l-float" nav-direction="back" ng-click="$ionicGoBack()"></button>
            </div>
            <div class="col col-80 pan lg-m-align col-center"></div>
        </div>
    </ion-header-bar>
    <ion-content class="fm-bg">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div feeds activities="UserPosts" top-bar-enabled="true"></div>
        <div class="pal txt-book gry-txt ft-14 mtl lg-m-align" ng-if="(UserPosts.length == 0) && (!noMoreContent)">
                No posts shared
        </div>
        <ion-infinite-scroll ng-if="noMoreContent" on-infinite="getUserPosts()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>