<ion-tabs class="tabs-messages tabs-icon tabs-light custom-ico-tabs">
    <ion-tab title="Followers" icon-on="lg-icon-follow-user" icon-off="lg-icon-follow-user" href="#/app/profile/{{uid}}/connections/followers">
        <ion-nav-view name="appcontent-followers"></ion-nav-view>
    </ion-tab>     
    <ion-tab title="Followings" icon-on="lg-icon-following-user" icon-off="lg-icon-following-user" href="#/app/profile/{{uid}}/connections/followings">
        <ion-nav-view name="appcontent-followings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
