<ion-view view-title="Skills">
    <ion-content class="main-bg">
        <div class="list list-a">
            <div class="item">
                <div class="lg-r-align ft-12 pbs db-txt">People with similar skills</div>
                <span class="lg-inline-bl ptm pbm db-txt">Cooking</span>
                <span class="item-note">
                <a href="#/tab/me/profile/users-list">
                    <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                </a>
                </span>
            </div>
        </div>
        <div class="list list-a">
            <div class="item">
                <span class="lg-inline-bl ptm pbm db-txt">Pet-Care</span>
                <span class="item-note">
                <a href="#/tab/me/profile/users-list">
                    <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs"><span class="list-call">+14</span></span>
                </a>
                </span>
            </div>
        </div>
        <div class="list list-a">
            <div class="item">
                <span class="lg-inline-bl ptm pbm db-txt">Programming in Java/C++</span>
                <span class="item-note">
                <a href="#/tab/me/profile/users-list">
                    <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                </a>
                </span>
            </div>
        </div>
        <div class="list list-a">
            <div class="item">
                <span class="lg-inline-bl ptm pbm db-txt">French</span>
                <span class="item-note">
                <a href="#/tab/me/profile/users-list">
                    <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs"><span class="list-call">+4</span></span>
                </a>
                </span>
            </div>
        </div>
        <div class="list list-a">
            <div class="item">
                <span class="lg-inline-bl ptm pbm db-txt">Swiming</span>
                <span class="item-note">
                </span>
            </div>
        </div>
        <div class="list list-a">
            <div class="item">
                <span class="lg-inline-bl ptm pbm db-txt">Healthy</span>
                <span class="item-note">
                <a href="#/tab/me/profile/users-list">
                    <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                    <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                </a>
                </span>
            </div>
        </div>
        <div class="list list-a">
            <div class="item">
                <span class="lg-inline-bl ptm pbm db-txt">Computing</span>
                <span class="item-note">
                <a href="#/tab/me/profile/users-list">
                    <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs">
                        <img class="thumbnail" alt="" src="http://159.203.252.13:3000/resources/uploads/79/thumb/medium/lMrnWXOmzVanIb8ixG_geYXA.jpg">
                    </span>
                <span class="pro-pg-thumbs"><span class="list-call">+20</span></span>
                </a>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>