<ion-view >
  <ion-content>
    <div class="list">

      <div class="item item-icon-right" ng-click="Intro()">Intro Screen<i class="icon ion-ios-arrow-right"></i></div>
      <div class="item item-icon-right mtl mbl" ng-click="login()"><i class="icon ion-ios-arrow-right"></i>Login</div>
      <div class="item item-icon-right" ng-click="signup()"><i class="icon ion-ios-arrow-right"></i>Signup</div>
      <div class="item item-icon-right" ng-click="dashboardTab()"><i class="icon ion-ios-arrow-right"></i>Dashboard Tab</div>
      <div class="item item-divider">Explore Screens</div>
      <div class="item item-icon-right" ng-click="exploreTab()"><i class="icon ion-ios-arrow-right"></i>Explore Tab</div>
      <div class="item item-icon-right" ng-click="explorePeekView()"><i class="icon ion-ios-arrow-right"></i>Explore Peek View</div>
      <div class="item item-icon-right" ng-click="Category()"><i class="icon ion-ios-arrow-right"></i>Explore Category</div>
      <div class="item item-icon-right" ng-click="Hashtags()"><i class="icon ion-ios-arrow-right"></i>Hashtags with Featured</div>
      <div class="item item-divider">Profile Screens</div>
      <div class="item item-icon-right" ng-click="meTab()"><i class="icon ion-ios-arrow-right"></i>My Profile</div>
      <div class="item item-icon-right" ng-click="userProfile()"><i class="icon ion-ios-arrow-right"></i>User Profile</div>

      <div class="item item-divider">Goal Screens</div>
      <div class="item item-icon-right" ng-click="goalPage()"><i class="icon ion-ios-arrow-right"></i>Goal Page</div>


      <div class="item item-divider">More</div>
      <div class="item item-icon-right" ng-click="moreTab()"><i class="icon ion-ios-arrow-right"></i>More Tab</div>
      <div class="item item-icon-right" ng-click="Settings()"><i class="icon ion-ios-arrow-right"></i>Settings</div>

      <div class="item item-divider">Chat</div>
      <div class="item item-icon-right" ng-click="chatMainScreen()"><i class="icon ion-ios-arrow-right"></i>Chat Main Screen</div>
      <div class="item item-icon-right" ng-click="chatConversationScreen()"><i class="icon ion-ios-arrow-right" ></i>Chat Conversation Screen</div>

      <div class="item item-divider">On Boarding Screens</div>
      <div class="item item-icon-right" ng-click="OnBoardingImageBio()"><i class="icon ion-ios-arrow-right" ></i>Image and Bio</div>
      <div class="item item-icon-right" ng-click="OnBoardingConnect()"><i class="icon ion-ios-arrow-right" ></i>Connect and Bio</div>
      <div class="item item-icon-right" ng-click="OnBoardingInterests()"><i class="icon ion-ios-arrow-right" ></i>Interest</div>
      <div class="item item-icon-right" ng-click="OnBoardingVideoCover()"><i class="icon ion-ios-arrow-right" ></i>Video Cover</div>
      <div class="item item-icon-right" ng-click="OnBoardingFirstGoal()"><i class="icon ion-ios-arrow-right" ></i>First Goal</div>


    </div>



  </ion-content>
</ion-view>